
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.flexcenter{
    display: flex;
    align-items: center; 
}

.flexcolom{
    display: flex;
    flex-direction: column;
}

.workspace{
    border-radius: 0 0 .5rem .5rem;
    padding: 1rem;
}

.navcomponent{
    background-color: black;
    height: 2rem;
    overflow: hidden;
}

.font_white{
    color: white;
    border-style: solid;
}

li{
    list-style: none;
    border-style: solid;
    padding: .5rem;
    color: yellow;
    animation: textscrol 5s infinite;
}

@keyframes textscorll {
 /* add each keyframe */
    from{
        transform: translateY(4.7rem);
    }
    to{
        transform: translateY(-4.7rem);
    }
}