

:root{
    /* Colors */
    --color-1: #ffff;
    --color-2: #000;
    --color-3: whitesmoke;

    /* font */
    --font-family-p: 'Lucida Sans', sans-serif;
    --font-size-p: .9rem;
    --font-size-h1: 2rem;
    --font-size-btn: 1rem;

    --font-weight-r:400;
    --font-weight-b:500;
    --font-weight-xb:900;

    /* spacing */
    --padding-1: 1rem;
    --padding-2: 2rem;

    --spacing-1: 1rem;
    --spacing-2: 2rem;
    --spacing-xl: 5rem;

    --img-sizing-1: 10rem;
}

main{
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--color-2);
}

.createaccountsection{
    background-color: aliceblue;
    padding: var(--spacing-1);
    border-radius: var(--spacing-1);
}