

:root{
    /* Colors */
    --color-1: #ffff;
    --color-2: #000;
    --color-3: whitesmoke;

    /* font */
    --font-family-p: 'Lucida Sans', sans-serif;
    --font-size-p: .9rem;
    --font-size-h1: 2rem;
    --font-size-btn: 1rem;

    --font-weight-r:400;
    --font-weight-b:500;
    --font-weight-xb:900;

    /* spacing */
    --padding-1: 1rem;
    --padding-2: 2rem;

    --spacing-1: 1rem;
    --spacing-2: 2rem;
    --spacing-xl: 5rem;

    --img-sizing-1: 10rem;
}

body{
    background-color: var(--color-3);
    color: var(--color-2);
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: var(--padding-2);
}

.logincard{
    background-color: var(--color-1);
    border: solid var(--color-2);
    border-radius: var(--padding-1);
    padding: var(--padding-1);
    text-align: center;
}

.loginitemcontainer, .createaccountitems{
    gap: 2rem;
}

.createaccountcard{
    background-color: var(--color-1);
    border: solid var(--color-2);
    border-radius: var(--padding-1);
    padding: var(--padding-1);
    text-align: center;
}