*{
    margin: 0;
    padding: 0;

    font-family:'Lucida Sans', Verdana, sans-serif;
    font-size: inherit;
    /* color: aliceblue; */
}
body{
    background-color: aliceblue;
}
img{
    display: block;
}

/* utility class */
.flexcol{
    display: flex;
    flex-direction: column;
}

/* menu html class */
.menu_block_head{
    background-color: beige;
}
.menu_img_banner{
    background-color: antiquewhite;
}
.item_block{
    width: 120px;
    text-align: center;

    padding: 1rem;
}