
/* CSS Reset */
:root{
    /* Colors */
    --color-1: #ffff;
    --color-2: #000;

    --background-1: aliceblue;
    --background-2: beige;
    --background-3: aquamarine;

    /* font */
    --font-family-p: 'Lucida Sans', sans-serif;
    --font-size-p: .9rem;
    --font-size-h1: 1rem;
    --font-size-btn: 1rem;

    --font-weight-r:400;
    --font-weight-b:500;
    --font-weight-xb:900;

    /* spacing */
    --padding-1: 1rem;
    --padding-2: 2rem;

    --spacing-1: 1rem;
    --spacing-2: 2rem;

    --item-img-sizing-1: 5rem;
}

body{
    background-color: var(--background-1);
}
/* utility class */



/* navigation styles form @home.css */
/* main */
main{
    width: 80%;
    margin: 0 auto;
    background-color: var(--background-2)
}

/* search section */
.searchContainer{
    border-style: solid;
    border-radius: .2rem;
    align-items: center;
}

.searchContainer input{
    width: 100%;
    border-style: none;
    padding: var(--padding-1) 0;
}

/* menu title section */
.menucontainer{
    text-align: center;
}
/* item tile continaer */
.itemtitlecontainer{
    background-color: var(--background-3)
}

/* itemcontainer */
.itemcontainer{
    gap: var(--spacing-1);
}
.itemcard{
    border-style: solid;
    width: fit-content;
    align-items: center;
}
.itemimg{
    width: var(--item-img-sizing-1)
}